/* начало общих стилей */

*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"),
        url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.ttf")   format("ttf");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
  font-weight: 400;
  min-width: 320px;
  counter-reset: athlets-article-count players-article-count others-article-count;
}

.bold_text {
  font-weight: 700; 
}

/* конец общих стилей */

/* начало стилей до размера экрана 640px */

.header {
  position: relative;
  background: #0a0e34 url("../images/img/football_767.jpg") 
              center 0 / cover no-repeat;
}

.header::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-wrapper {
  min-height: 100vh;
  padding: 2rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-logo-image-text {
  /*margin: auto 0;*/
  margin: calc(33px - 2rem) 0 130px 0;
}

.logo-image-text-link {
  display: block;
  margin: 0 auto;
  width: 133px;
  height: 36px;
}

.logo-image-text {
  fill: #ffffff;
}

.header-content {
  display: flex;
  flex-direction: column;
  /*margin: auto 0;*/
  margin: 0 0 85px 0;
}

.header-content-text {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  align-self: flex-start;
  margin-bottom: 1rem;
  line-height: 1em;
}

.header-content-text:nth-child(even) {
  max-width: 210px;
  align-self: flex-end;
}

.header-content-text:last-child {
  margin-bottom: 0;
}

.header-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /*margin: auto 0;*/
  margin: 0 0 calc(84px - 2rem) 0;
}

.download-button {
  text-decoration: none;
  min-width: 280px;
  max-width: 320px;
  width: 75%;
  height: 36px;
  background-color: #5e42b0;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 13px 0;
}

.download-button:last-child {
  margin: 0;
}

.apple-logo-image {
  width: 20px;
  height: 24px;
  fill: #ffffff;
}

.google-logo-image {
  width: 22px;
  height: 24px;
  fill: #ffffff;
  /*margin-left: -20px;*/
}

.download-button-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7px;
}

.download-button-text {
  color: #ffffff;
  font-size: 8px;
  text-transform: uppercase;
}

.main-content {
}

.athlets {
  position: relative;
}

.athlets::before {
  content: "";
  position: absolute;
  background: url("../images/img/footballer_192.png") no-repeat center;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 280px;
}

.athlets-header {
  position: relative;
  font-size: 50px;
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 225px 0;
  padding: 5px 20px;
}

.athlet-article-connection {
  background-color: #fafafa;
  padding: 75px 20px 50px;
}

.athlet-article-wrapper {
}

.athlet-article-title {
  display: flex;
  align-items: center;
}

.athlet-article-number {
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
  text-align: center;
}

.athlet-article-number::before {
  counter-increment: athlets-article-count;
  content: "0" counter(athlets-article-count);
}

.athlet-article-number::after {
  content: "";
  width: 15px;
  height: 4px;
  display: block;
  background-color: #5e42b0;
  border-radius: 2px;
  margin: 0 auto;
}

.athlet-article-header {
  font-size: 23px;
  color: #c1c1c1;
  font-weight: 700;
  text-transform: uppercase;
}

.athlet-article-body {
}

.athlet-article-text:first-of-type {
  margin-top: 15px;
}

.athlet-article-text {
  /*overflow-wrap: break-word;*/
  margin-top: 5px;
  font-size: 15px;
}

.athlet-article-collaboration {
  padding: 50px 20px;
  background-color: #f5f4f9;
}

.athlet-article-growth {
  padding: 50px 20px;
  background-color: #5e42b0;
}

.athlet-article-growth .athlet-article-number::after {
  background-color: #ffffff;
}

.athlet-article-growth .athlet-article-text {
  color: #ffffff;
}

.players {
  position: relative;
}

.players::before {
  content: "";
  position: absolute;
  background: url("../images/img/basketballer_302.png") no-repeat center;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
}

.players-header {
  position: relative;
  font-size: 50px;
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 220px 0;
  padding: 5px 20px;
}

.player-article-connection {
  background-color: #fafafa;
  padding: 75px 20px 50px;
}

.player-article-wrapper {
}

.player-article-title {
  display: flex;
  align-items: center;
}

.player-article-number {
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
  text-align: center;
}

.player-article-number::before {
  counter-increment: players-article-count;
  content: "0" counter(players-article-count);
}

.player-article-number::after {
  content: "";
  width: 15px;
  height: 4px;
  display: block;
  background-color: #5e42b0;
  border-radius: 2px;
  margin: 0 auto;
}

.player-article-header {
  font-size: 23px;
  color: #c1c1c1;
  font-weight: 700;
  text-transform: uppercase;
}

.player-article-body {
}

.player-article-text:first-of-type {
  margin-top: 15px;
}

.player-article-text {
  /*overflow-wrap: break-word;*/
  margin-top: 5px;
  font-size: 15px;
}

.player-article-collaboration {
  padding: 50px 20px;
  background-color: #f5f4f9;
}

.player-article-growth {
  padding: 50px 20px;
  background-color: #090c35;
}

.player-article-growth .player-article-number {
  color: #8765dd;
}

.player-article-growth .player-article-number::after {
  background-color: #ffffff;
}

.player-article-growth .player-article-text {
  color: #ffffff;
}

.other-articles {
}

.beactive-image {
  min-height: 350px;
  background: #ffffff url("../images/img/be-active_640.jpg") center / cover no-repeat;
}

.other-articles-number-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  margin: -60px 20px 0;
}

.other-article-number {
  /*margin: auto;*/
  align-self: center;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}

.other-article-number::before {
  counter-increment: others-article-count;
  content: "0" counter(others-article-count);
}

.other-article-number::after {
  content: "";
  width: 15px;
  height: 4px;
  display: block;
  background-color: #8f7bc8;
  border-radius: 2px;
  margin: 0 auto;
}

.other-articles-content {
}

.other-articles-content-wrapper {
  padding: 15px 20px 75px;
}

.other-article-header {
  font-size: 28px;
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
}

.other-article-text:first-of-type {
  margin-top: 10px;
}

.other-article-text {
  /*overflow-wrap: break-word;*/
  margin-top: 5px;
  font-size: 16px;
}

.findcontact-image {
  min-height: 350px;
  background: #ffffff url("../images/img/find-contact_640.jpg") center / cover no-repeat;
}

.workit-image {
  min-height: 350px;
  background: #ffffff url("../images/img/work-it_640.jpg") center / cover no-repeat;
}

.footer {
  position: relative;
  background: #0a0e34 url("../images/img/game_767.jpg") 
              center 0 / cover no-repeat;
}

.footer::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-wrapper {
  min-height: 100vh;
  padding: 2rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-logo-image-content-wrapper {
  /*margin: auto 0;*/
  margin: 99px 0 77px 0;
}

.footer-logo-image-wrapper {
  margin: auto 0;
}

.footer-logo-image-link {
  display: flex;
  margin: 0 auto;
  background-color: #684ac0;
  border-radius: 12px;
  width: 72px;
  height: 74px;
}

.footer-logo-image {
  width: 60px;
  height: 50px;
  margin: auto;
  filter: brightness(0) invert(1);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
}

.footer-content-download-text {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.footer-content-slogan-text {
  font-size: 14px;
  font-weight: 400;
  color: #9b8ec1;
  text-transform: uppercase;
  text-align: center;
}

.footer-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /*margin: auto 0;*/
  margin: 0 0 82px 0;
}

.footer-logo-image-text {
  /*margin: auto 0;*/
  margin: 0 0 calc(10px - 2rem) 0;
}

/* конец стилей до размера экрана 640px */

@media (min-width: 360px) and (max-width: 640px) {
  .beactive-image {
    min-height: 700px;
    background-image: url("../images/img/be-active_640.jpg");
  }

  .findcontact-image {
    min-height: 700px;
    background-image: url("../images/img/find-contact_640.jpg");
  }

  .workit-image {
    min-height: 700px;
    background-image: url("../images/img/work-it_640.jpg");
  }
}

@media (min-width: 460px) and (max-width: 640px) {
  .header-content-text:nth-child(even) {
    max-width: 320px;
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .header {
    background-image: url("../images/img/football_767.jpg");
  }
  
  .beactive-image {
    min-height: 584px;
    background-image: url("../images/img/be-active.jpg");
  }

  .findcontact-image {
    min-height: 584px;
    background-image: url("../images/img/find-contact.jpg");
  }

  .workit-image {
    min-height: 584px;
    background-image: url("../images/img/work-it.jpg");
  }

  .footer {
    background-image: url("../images/img/game_767.jpg");
  }

  .footer-content-download-text {
    font-size: 70px;
  }

  .footer-content-slogan-text {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  .beactive-image {
    min-height: 730px;
    background-image: url("../images/img/be-active_960.jpg");
  }

  .findcontact-image {
    min-height: 730px;
    background-image: url("../images/img/find-contact_960.jpg");
  }

  .workit-image {
    min-height: 730px;
    background-image: url("../images/img/work-it_960.jpg");
  }

  .footer-content-download-text {
    font-size: 80px;
  }

  .footer-content-slogan-text {
    font-size: 36px;
  }
}

@media (min-width: 961px) {
  .beactive-image {
    /*min-height: 730px;*/
    width: 50%;
    background-image: url("../images/img/be-active_1024.jpg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .findcontact-image {
    /*min-height: 730px;*/
    width: 50%;
    background-image: url("../images/img/find-contact_1024.jpg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
  }

  .workit-image {
    /*min-height: 730px;*/
    width: 50%;
    background-image: url("../images/img/work-it_1024.jpg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .header {
    background-image: url("../images/img/football_1280.jpg");
  }
  
  .footer {
    background-image: url("../images/img/game_1280.jpg");
  }  
}

@media (min-width: 961px) and (max-width: 1080px) {
  .other-article-header {
    font-size: 70px;
  }
}

@media (min-width: 1081px) {
  .other-article-header {
    font-size: 80px;
  }
}

@media (min-width: 961px) and (max-width: 1365px) {
  .header-content-text:nth-child(even) {
    max-width: 650px;
  }
}

@media (min-width: 1366px) {
  .header-content-text:nth-child(even) {
    max-width: 1050px;
  }
}

@media (min-width: 1281px) and (max-width: 1920px) {
  .header {
    background-image: url("../images/img/football_1920.jpg");
  }
}

@media (min-width: 1281px) {
  .footer {
    background-image: url("../images/img/game_1920.jpg");
  }
}

@media (min-width: 1921px) {
  .header {
    background-image: url("../images/img/football-801047.jpg");
  }
}

/* начало стилей размера экрана от 641px до 960px */

@media (min-width: 641px) and (max-width: 960px) {
  .header-wrapper {
    padding: 2rem 3vw;
  }

  .header-logo-image-text {
    /*margin: auto 0;*/
    margin: calc(39px - 2rem) 0 170px 0;
  }

  .logo-image-text-link {
    width: 205px;
    height: 56px;
  }

  .header-content {
    /*margin: auto 32px;*/
    margin: 0 32px calc(305px - 15px) 32px;
  }

  .header-content-text {
    font-size: 64px;
    /*padding-bottom: 20px;*/
  }

  .header-content-text:nth-child(even) {
    max-width: 460px;
  }

  .header-buttons-wrapper {
    flex-direction: row;
    justify-content: center;
    margin: 0 0 calc(90px - 2rem - 15px) 0;
  }

  .download-button {
    min-width: 270px;
    max-width: 310px;
    width: calc((100% - 4 * 15px) / 2);
    height: 77px;
    border-radius: 39px;
    margin: 15px 15px;
  }

  .download-button:last-child {
    margin: 15px 15px;
  }

  .apple-logo-image {
    width: 36px;
    height: 42px;
  }

  .google-logo-image {
    width: 41px;
    height: 45px;
  }

  .download-button-text-container {
    margin-left: 28px;
  }

  .download-button-text {
    font-size: 14px;
  }

  .athlets::before {
    background-image: url("../images/img/footballer_497.png");
    background-position: left;
    top: 95px;
    bottom: 0;
    left: calc(38% - 450px);
    right: 0;
    height: 700px;
  }

  .athlets-header {
    font-size: 80px;
    width: 62%;
    margin: 0 0 0 auto;
    padding: 55px 0 10px 0;
  }

  .athlet-article-connection {
    background-color: #ffffff;
    padding: 15px 32px 35px;
  }

  .athlet-article-wrapper {
    width: 62%;
    margin-left: auto;
    position: relative;
  }

  .athlet-article-number {
    font-size: 18px;
    margin-right: 13px;
  }

  .athlet-article-number::after {
    width: 19px;
    height: 5px;
  }

  .athlet-article-header {
    font-size: 32px;
  }

  .athlet-article-body {
    padding-top: 10px;
  }

  .athlet-article-text {
    font-size: 16px;
  }

  .athlet-article-collaboration {
    padding: 30px 32px 35px;
  }

  .athlet-article-growth {
    padding: 30px 32px 35px;
  }

  .players::before {
    background-image: url("../images/img/basketballer_436.png");
    background-position: right;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 565px;
  }

  .players-header {
    font-size: 80px;
    width: 55%;
    margin: 0 auto 0 0;
    padding: 55px 32px 10px 32px;
  }

  .player-article-connection {
    background-color: #ffffff;
    padding: 25px 32px 35px 32px;
  }

  .player-article-wrapper {
    width: 55%;
    margin-right: auto;
    position: relative;
  }

  .player-article-number {
    font-size: 18px;
    margin-right: 13px;
  }

  .player-article-number::after {
    width: 19px;
    height: 5px;
  }

  .player-article-header {
    font-size: 32px;
  }

  .player-article-text {
    font-size: 16px;
  }

  .player-article-collaboration {
    padding: 35px 32px;
  }

  .player-article-growth {
    padding: 35px 32px;
  }

  .other-articles-number-container {
    width: 116px;
    height: 116px;
    margin: -80px 32px 0;
  }

  .other-article-number {
    font-size: 24px;
  }

  .other-article-number::after {
    width: 25px;
    height: 5px;
  }

  .other-articles-content-wrapper {
    padding: 15px 32px 100px;
  }

  .other-article-header {
    font-size: 80px;
    color: #c1c1c1;
  }

  .other-article-text:first-of-type {
    margin-top: 10px;
  }

  .other-article-text {
    font-size: 24px;
  }

  .footer-wrapper {
    padding: 2rem 3vw;
  }

  .footer-logo-image-content-wrapper {
    margin: 125px 0 calc(286px - 25px) 0;
  }

  .footer-logo-image-link {
    border-radius: 30px;
    width: 130px;
    height: 138px;
  }

  .footer-logo-image {
    width: 106px;
    height: 88px;
  }

  .footer-content {
    padding-top: 57px;
  }

  .footer-content-slogan-text {
    color: #a496ca;
  }

  .footer-buttons-wrapper {
    flex-direction: row;
    justify-content: center;
    margin: 0 0 calc(55px - 15px) 0;
  }

  .footer-logo-image-text {
    margin: 0 0 calc(22px - 2rem) 0;
  }
}

/* конец стилей размера экрана от 641px до 960px */

/* начало стилей размера экрана от 961px */

@media (min-width: 961px) {
  .header-wrapper {
    padding: 2rem 9vw;
  }

  .header-logo-image-text {
    /*margin: auto 0;*/
    margin: calc(45px - 2rem) 0 280px 0;
  }

  .logo-image-text-link {
    width: 191px;
    height: 52px;
  }

  .header-content {
    /*margin: auto 0;*/
    margin: 0 0 calc(212px - 25px) 0;
  }

  .header-content-text {
    margin-bottom: 0;
    font-size: 90px;
    /*padding-bottom: 20px;*/
  }

  .header-buttons-wrapper {
    flex-direction: row;
    justify-content: center;
    margin: 0 0 calc(108px - 2rem - 25px) 0;
  }

  .download-button {
    min-width: 300px;
    max-width: 340px;
    width: calc((100% - 4 * 25px) / 2);
    height: 77px;
    border-radius: 39px;
    margin: 25px 25px;
  }

  .download-button:last-child {
    margin: 25px 25px;
  }

  .apple-logo-image {
    width: 42px;
    height: 48px;
  }

  .google-logo-image {
    width: 40px;
    height: 50px;
  }

  .download-button-text-container {
    margin-left: 23px;
  }

  .download-button-text {
    font-size: 14px;
  }

  .athlets::before {
    background-image: url("../images/img/footballer_566.png");
    background-position: left;
    top: 20px;
    bottom: 0;
    left: calc(50% - 610px);
    right: 0;
    height: 910px;
  }

  .athlets-header {
    font-size: 80px;
    width: 50%;
    margin: 0 0 0 auto;
    padding: 70px 0 10px 0;
  }

  .athlet-article-connection {
    background-color: #ffffff;
    padding: 70px 5vw 60px 5vw;
  }

  .athlet-article-wrapper {
    width: 50%;
    margin-left: auto;
    position: relative;
  }

  .athlet-article-number {
    font-size: 18px;
    margin-right: 13px;
  }

  .athlet-article-number::after {
    width: 19px;
    height: 5px;
  }

  .athlet-article-header {
    font-size: 36px;
  }

  .athlet-article-text {
    font-size: 20px;
  }

  .athlet-article-collaboration {
    padding: 60px 5vw;
  }

  .athlet-article-growth {
    padding: 60px 5vw;
  }

  .players::before {
    background-image: url("../images/img/basketballer_991.png");
    background-position: left;
    top: 20px;
    bottom: 0;
    left: calc(50% - 150px);;
    right: 0;
    height: 815px;
  }

  .players-header {
    font-size: 80px;
    width: 50%;
    margin: 0 auto 0 0;
    padding: 85px 32px 0 5vw;
  }

  .player-article-connection {
    background-color: #ffffff;
    padding: 70px 5vw 60px 5vw;
  }

  .player-article-wrapper {
    width: 50%;
    margin-right: auto;
    position: relative;
  }

  .player-article-number {
    font-size: 18px;
    margin-right: 13px;
  }

  .player-article-number::after {
    width: 19px;
    height: 5px;
  }

  .player-article-header {
    font-size: 36px;
  }

  .player-article-text {
    font-size: 20px;
  }

  .player-article-collaboration {
    padding: 60px 5vw;
  }

  .player-article-growth {
    padding: 60px 5vw;
  }

  .other-articles {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 730px;
  }

  .other-articles-number-container {
    position: absolute;
    width: 168px;
    height: 155px;
    left: calc(100% / 2 - 84px);
    margin: -80px 0 0 0;
    top: calc(50% - 78px);
  }

  .other-article-number {
    font-size: 24px;
  }

  .other-article-number::after {
    width: 26px;
    height: 5px;
  }

  .other-articles-content {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 calc(84px + 2%);
    margin-left: 50%;
  }

  .other-articles:nth-child(even) .other-articles-content {
    /*order: -1;*/
    padding: 0 calc(84px + 2%) 0 0;
    margin-right: 50%;
    margin-left: 0;
  }

  .other-articles-content-wrapper {
    position: relative;
    padding: 0;
    margin: 0 auto 20px 0;
    max-width: 37vw;
  }

  .other-articles:nth-child(even) .other-articles-content-wrapper {
    margin: 0 0 20px auto;
  }

  .other-article-text:first-of-type {
    margin-top: 90px;
  }

  .other-article-text {
    font-size: 24px;
  }

  .footer-wrapper {
    padding: 2rem 6vw;
  }

  .footer-logo-image-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 228px 0 calc(151px - 25px) 0;
  }

  .footer-logo-image-wrapper {
    margin: auto 20px;
  }

  .footer-logo-image-link {
    border-radius: 30px;
    width: 130px;
    height: 138px;
  }

  .footer-logo-image {
    width: 106px;
    height: 88px;
  }

  .footer-content {
    align-items: flex-start;
    padding-top: 0;
  }

  .footer-content-download-text {
    font-size: 80px;
    line-height: 80px;
    text-align: left;
  }

  .footer-content-slogan-text {
    font-size: 30px;
    color: #a496ca;
    text-align: left;
  }

  .footer-buttons-wrapper {
    flex-direction: row;
    justify-content: center;
    margin: 0 0 calc(262px - 25px) 0;
  }

  .footer-logo-image-text {
    margin: 0 0 calc(51px - 2rem) 0;
  }
}

/* конец стилей размера экрана от 961px */
